@charset "utf-8";
@import url("font.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
li {
  list-style: none;
}
img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}
html {
  font-size: 16px;
}
body {
  font-family: "Noto Sans KR", "TTWanjudaedunsancheB", "sans-serif";
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: -0.68px;
  word-break: keep-all;
  color: #000;
  font-weight: normal;
  padding-top: 100px;
  overflow-x: hidden;
  min-width: 768px;
}
.inner {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}
div {
  -webkit-touch-callout: none;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}
/* 상단 부분 */
.header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 9999;
}
.header .inner {
  max-width: 1600px;
  width: 100%;
  height: 100px;
  padding: 0 22px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img {
  position: relative;
  top: -10px;
  width: 80%;
}
.nav {
  height: 100%;
}
.nav ul {
  display: flex;
  justify-content: space-between;
  gap: 0 130px;
  height: 100%;
  font-family: "SBAggroB";
}
.nav ul > li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
}
.nav ul > li > a {
  font-weight: 600;
  color: #000000;
  font-size: 1.9em;
  transition: color 0.2s;
}
.nav ul > li:nth-child(3) a {
  color: #519735;
}
.nav ul > li:nth-child(3)::after {
  opacity: 1;
}
.nav ul li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px;
  display: block;
  width: 100%;
  height: 6px;
  background-color: #519735;
  opacity: 0;
  transition: all 0.2s;
  border-radius: 3px;
}
.nav ul li:hover::after {
  opacity: 1;
}
.nav ul > li:hover {
  cursor: pointer;
}
.nav ul > li:hover > a {
  color: #519735;
}
.sub-menu {
  cursor: pointer;
  display: none;
}
.mobile-menu {
  /* display: none; */
  position: fixed;
  right: 0;
  width: 80%;
  height: 100%;
  color: #000;
  font-size: 3em;
  font-family: "Pretendard-Regular";
  background-color: rgba(255, 255, 255, 1);
}
/* 상단 부분 반응형 */
@media all and (max-width: 1024px) {
  .inner .logo {
    padding-left: 30px;
  }
  .inner .logo img {
    width: 60%;
    top: -5px;
  }
  .nav ul {
    padding-right: 50px;
    gap: 0 70px;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  .nav ul li a {
    font-size: 1.4em;
  }
  .nav ul li::after {
    bottom: -20px;
  }
}
@media all and (max-width: 768px) {
  .nav ul li a {
    display: none;
  }
  .sub-menu {
    display: block;
    float: right;
    font-size: 2.2em;
    padding-right: 30px;
  }
  .nav ul li::after{
    display: none;
  }
}
.body {
  display: block;
  position: relative;
  margin-top: 50px;
}
.event {
  margin: 0 auto;
}
.event img {
  display: inline-block;
  width: 1400px;
  margin: 0 auto;

  margin: 0 auto;
  text-align: center;
}
/* 서브 페이지 */
.sub_title {
  width: 100%;
  height: 100px;
  display: block;
  position: relative;
}
.sub_title > h1 {
  position: relative;
  display: block;
  margin-top: 50px;
  color: #519735;
  font-size: 48px;
  font-weight: bold;
  font-family: "Pretendard-Regular";
  padding-left: 20px;
}

.sub_title > h1::before {
  content: "";
  position: absolute;
  background-color: #519735;
  width: 6px;
  height: 55px;
  left: 0px;
  top: 6px;
}
