@charset "utf-8";
@import url("font.css");
/* 여기서부터 내가 한것 */
.main-section {
  width: 1920px;
  height: 600px;
  background: url("../images/sub_page_1_img/main.png") no-repeat;
  background-size: 100%;
}
.container {
  max-width: 1400px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
/* 소개 section */
.introduce {
  margin-top: 200px;
  display: flex;
  height: 630px;
}
.introduce-img {
  width: 49%;
  /* height: 630px; */
  /* background-size: cover; */
  /* background-image: url("../images/sub_page_1_img/introduction.png"); */
  /* background-position: center; */
}
.introduce-img img {
  width: 100%;
}
.introduce-txt {
  margin-left: 60px;
}

.introduce-txt h1 {
  position: relative;
  display: block;
  margin-top: 50px;
  color: #519735;
  font-size: 48px;
  font-weight: bold;
  font-family: "Pretendard-Regular";
  padding-left: 20px;
}

.introduce-txt h1::before {
  content: "";
  position: absolute;
  background-color: #519735;
  width: 6px;
  height: 55px;
  left: 0px;
  top: 6px;
}

.introduce-txt-detail {
  margin-top: 60px;
  width: 670px;
  height: 630px;
}

.introduce-txt-detail p {
  color: #111;
  padding: 10px 0 0 0;
  font-size: 23px;
  font-weight: 450;
  margin-top: 30px;
}

/* 장비 소개 */
.equipment {
  margin-top: 150px;
  display: flex;
  height: 480px;
}

.equipment-txt {
  width: 670px;
  height: 480px;
}

.equipment-title {
  position: relative;
  display: block;
  margin-top: 50px;
  color: #519735;
  font-size: 48px;
  font-weight: bold;
  font-family: "Pretendard-Regular";
  padding-left: 20px;
}

.equipment-title::before {
  content: "";
  position: absolute;
  background-color: #519735;
  width: 6px;
  height: 55px;
  left: 0px;
  top: 6px;
}

.equipment-sb {
  font-family: "Roboto Slab", serif;
  font-size: 30px;
  font-weight: 500;
  color: #333;
  margin-top: 60px;
}

.equipment-introduce p {
  color: #111;
  padding: 10px 0;
  font-size: 23px;
  font-weight: 450;
  margin-top: 30px;
}

.equipment-img {
  width: 670px;
  height: 480px;
  background-size: cover;
  background-image: url("../images/sub_page_1_img/equipment2.png");
  background-position: center;
  margin-left: 60px;
}

/* 장비소개2 */
.equipment2 {
  margin-top: 150px;
  display: flex;
  height: 480px;
}

.equipment-img2 {
  width: 670px;
  height: 470px;
  background-size: cover;
  background-image: url("../images/sub_page_1_img/equipment1.png");
  background-position: center;
  margin: 0;
}

.equipment-txt2 {
  width: 670px;
  height: 470px;
  margin-left: 60px;
}

/* 장비소개 3 */
.equipment3 {
  margin-top: 150px;
  display: flex;
  height: 435px;
}

.equipment-img3 {
  width: 670px;
  height: 435px;
  background-size: cover;
  background-image: url("../images/sub_page_1_img/equipment3.jpg");
  background-position: center;
  margin: 0 0 0 60px;
}

.equipment-sb span {
  font-family: "Noto Sans KR", "TTWanjudaedunsancheB", "sans-serif";
}

.equipment-txt3 {
  width: 670px;
  height: 435px;
  margin: 0;
}

.equipment-introduce3 p {
  color: #111;
  padding: 10px 0;
  font-size: 23px;
  font-weight: 450;
  margin-top: 30px;
  /* word-break: none; */
}

/* 오시는 길 */
.guide {
  position: relative;
  display: block;
  margin-top: 200px;
  margin-bottom: 200px;
}

.guide h1 {
  position: relative;
  display: block;
  color: #519735;
  font-size: 48px;
  font-weight: bold;
  font-family: "Pretendard-Regular";
  padding-left: 20px;
}

.guide h1::before {
  content: "";
  position: absolute;
  background-color: #519735;
  width: 6px;
  height: 55px;
  left: 0px;
  top: 6px;
}
.guide-img {
  display: flex;
  height: 450px;
  margin-top: 60px;
}

.main-img {
  width: 690px;
  height: 450px;
  background-size: cover;
  background-image: url("../images/sub_page_1_img/gomo.png");
  background-position: center;
}

.map-img {
  width: 690px;
  height: 450px;
  margin-left: 20px;
  background-size: cover;
  background-image: url("../images/gomomap.png");
  background-image: url("../images/sub_page_1_img/gomomap.png");
  background-position: center;
}

.guide-txt {
  margin-top: 35px;
  display: flex;
}

.guide-box {
  position: relative;
  border: none;
  width: 440px;
  height: 200px;
  margin-left: 40px;
  box-shadow: 0 1px 10px 0px #d7d7d7;
  background-color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.guide-box:first-child {
  margin-left: 0;
}

.guide-box.selected {
  background-color: #519735;
  transition: 0.5s;
}

.guide-box.selected h6,
.guide-box.selected p {
  color: #fff;
}
.guide-box.selected h6::before {
  background-color: #fff;
}

/* .guide-box:hover h6,
.guide-box:hover p {
  color: #fff;
}
.guide-box:hover h6::before {
  background-color: #fff;
} */

.guide-box h6 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 30px;
  color: #333;
  position: relative;
  text-align: center;
  padding: 0 30px 30px 30px;
}

.guide-box h6::before {
  content: "";
  position: absolute;
  background-color: #999;
  width: 300px;
  height: 1px;
  left: 100%;
  top: 85%;
  transform: translateX(-123%);
}

.guide-box p {
  font-size: 20px;
  color: #555;
  text-align: center;
  padding: 10px;
}

@media all and (max-width: 1024px) {
  .introduce {
    margin-top: 150px;
    flex-wrap: wrap;
    height: auto;
  }

  .introduce-img {
    width: 100%;
    max-width: 500px;
    justify-content: center;
  }

  .introduce-txt {
    width: 100%;
    margin-left: 60px;
  }

  .introduce-txt h1 {
    position: relative;
    display: block;
    margin-top: 50px;
    color: #519735;
    font-size: 48px;
    font-weight: bold;
    font-family: "Pretendard-Regular";
    padding-left: 20px;
  }

  .introduce-txt h1::before {
    content: "";
    position: absolute;
    background-color: #519735;
    width: 6px;
    height: 55px;
    left: 0px;
    top: 6px;
  }

  .introduce-txt-detail {
    margin-top: 60px;
    width: 670px;
    height: 630px;
  }

  .introduce-txt-detail p {
    color: #111;
    padding: 10px 0 0 0;
    font-size: 23px;
    font-weight: 450;
    margin-top: 30px;
  }
}
